body{
    background-color: black;
    color: white;
    align-items: center;
    align-self: center;
}
img{
    width: 30%;
    height: 20%;
    border-radius: 50%;
    margin-top: 30px;
    position: relative;
}
